@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes ticket-grow {
    0%   { height: 0px; opacity:1 }
    100% { height: 150px; opacity:1 } /* ajuste conforme o tamanho do ticket */
  }

  .animate-ticket-grow {
    animation: ticket-grow 1s ease-out forwards;
  }
}